/*hide burger by default*/
.mainBurgerWrapper{
    display: none;
}

@media screen and (max-width: 768px) {
    /*show burger with resolution less than 768*/
    .mainBurgerWrapper {
        display: block;
    }
    /*3 lines burger icon style*/
    .menuIcon{
        display: block;
        z-index: 5;
        position: fixed;
        width: 18px;
        height: 12px;
        cursor: pointer;
        top: 24px;
        right: 35px;
    }

    .menuIcon span,
    .menuIcon::before,
    .menuIcon::after {
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        background-color: black;
    }
    .menuIcon::before,
    .menuIcon::after{
        content: '';
    }
    .menuIcon::before{
        top: 0;
        left: 2%;
    }
    .menuIcon::after{
        bottom: 0;
        left: 2%;
    }
    .menuIcon span {
        top: 50%;
        left: 2%;
        transform: scale(1) translate(0, -50%);
    }
    .burgerMenuBody{
        display: block;
        position: fixed;
        top: 0;
        left: -200%;
        width: 102%;
        height: 101%;
        background-color: rgba(0,0,0,0.5);
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    /*white block for logo to appear in burger and be higher than ul li lists*/
    .white {
        width: 40%;
        height: 53px;
        background-color: white;
        position: fixed;
    }
    /*set space between ul blocks in burger*/
    .burgerMenuBody ul li:first-child {
        padding-top: 50px;
    }
    /*move burger nav bar if icon is clicked*/
    .burgerMenuBody.active{
        left: 0;
    }
    .burgerMenuBody::before{
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 80px;
        z-index: 2;
    }
    .burgerMenuBody ul {
        background-color: white;
        margin: 0;
        width: 40%;
    }
    .burgerMenuBody ul li {
        color: black;
        padding: 11px 0 11px 22px;
    }
    /*set first ul in burger on distance from white block*/
    .burgerMenuBody .paddingFromWhiteBlock {
        padding-top: 85px;
    }
    /*style links in burger*/
    .burgerLinksStyle li a{
        padding: 10px 15px;
        text-decoration: none;
    }
    .burgerLinksStyle li a:link{
        color: black;
    }
    .burgerLinksStyle a:visited{
        color: black;
    }
    .burgerLinksStyle a:hover{
        background-color: rgba(0 , 189, 211, 0.1);
        color: #00BDD3;
    }
    .burgerLinksStyle a:focus{
        color: #00BDD3;
    }
    .burgerLinksStyle a:active {
        background-color: rgba(0 , 189, 211, 0.1);
        color: #00BDD3;
    }

}
@media screen and (max-width: 580px) {
    .burgerMenuBody ul {
        background-color: white;
        margin: 0;
        width: 80%;
    }
    /*white block for logo to appear in burger and be higher than ul li lists*/
    .white {
        width: 80%;
        height: 53px;
        background-color: white;
        position: fixed;
    }
}