.footerWrapper {
    text-align: center;
}
.copyRight {
    padding: 16px 0;
}
.footerBlackBlock {
    padding: 20px 0;
    width: 100%;
    background-color: black;
    margin-bottom: 12px;
}
.abzAgencyLogo {
    background-image: url("LOGO abz.agecy.png");
    width: 135px;
    height: 24px;
    position: absolute;
    left: 15%;
}
.footerHomepageText {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}

@media screen and (max-width: 1360px){
    .abzAgencyLogo {
        left: 10%;
    }
}
@media screen and (max-width: 768px) {
    .footerBlackBlock{
        margin-bottom: 17px;
    }
    .abzAgencyLogo {
        position: inherit;
        margin: 0 auto 20px;
    }
}
