.control-Buttons {
    margin: 3rem 0;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    font-family: sans-serif;
    padding: 10px 0;
    width: 150px;
    border-radius: 14px;
    margin: 0 6px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}

.btn-one{
    background-color: tomato;
}