body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}
body.lockScroll{
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  margin: 0;
}
h1 ,h2, h3 ,h4 ,h5 ,h6 {
  margin: 0;
}
ul {
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
    body {
      overflow: inherit;
    }
}