

#root{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;

}
#root p:nth-child(3){
    width: 40%;
}
#root p:nth-child(4){
    width: 20%;
}
@media screen and (max-width: 768px){
    #root{
        flex-direction: column;
    }
    #root p:nth-child(3){
        width: 100%;
    }
    #root p:nth-child(4){
        width: 100%;
    }
}
@media screen and (max-width: 460px){
    #root {
        align-items: center;
    }
    #root p:nth-child(4){
        width: 100%;
    }
}