
.OurCheerfulUsersWrapper {
    background-color: #F8F8F8;
    text-align: center;
    display: flex;
    justify-content: center;
}
.OurCheerfulUsersSecondWrapper{
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OurCheerfulUsersSecondWrapper h1 {
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}
.OurCheerfulUsersSecondWrapper h2 {
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 32px;
}
 /*blocks with info about users*/
.OurCheerfulUsersUl {
    display: grid;
    grid-template-columns: repeat(3 , 370px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
.OurCheerfulUsersLi{
    list-style-type: none;
    height: 313px;
    text-align: center;
    overflow: hidden;  /*FIX!!! long text should be hidden or smth*/
    background-color: #FFFFFF;
    border-radius: 10px;
}
.OurCheerfulUsersPhoto{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 36px 0 20px 150px;
}
.userName{
    margin: 0 30px 18px 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    line-height: 28px;
    text-overflow: ellipsis;
}
.userPosition {
    margin: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 25px;
    text-overflow: ellipsis;
}
.userEmail {
    margin: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
    text-overflow: ellipsis;
}
.userPhone {
    margin: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
    text-overflow: ellipsis;
}
.OurCheerfulUsersButtonShowMore{
    border: none;
    background-color: #F4E041;
    border-radius: 80px;
    color: black;
    width: 148px;
    padding: 12px 0;
    margin-bottom: 175px;
    line-height: 26px;
}
/*tool tip text name*/
.userName .tooltiptext {
    display: none;
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.userName:hover .tooltiptext {
    display: block;
}
/*toll tip text email*/
.userEmail .tooltiptext {
    display: none;
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.userEmail:hover .tooltiptext{
    display: block;
}


@media screen and (max-width: 1280px) {
    .OurCheerfulUsersUl {
        display: grid;
        grid-template-columns: repeat(3 , 282px);
        justify-content: center;
        gap: 29px;
        margin-bottom: 50px;
    }
    /*toll tip text name*/
    .userName .tooltiptext {
        max-width: 200px;
    }
    /*toll tip text email*/
    .userEmail .tooltiptext {
        max-width: 200px;
    }
    .OurCheerfulUsersPhoto {
        margin: 36px 0 15px 106px;
    }
}
@media screen and (max-width: 1024px) {
    .OurCheerfulUsersUl {
        display: grid;
        grid-template-columns: repeat(2 , 344px);
        justify-content: center;
        gap: 16px;
        margin-bottom: 50px;
    }
    /*toll tip text name*/
    .userName .tooltiptext {
        max-width: 270px;
    }
    /*toll tip text email*/
    .userEmail .tooltiptext {
        max-width: 270px;
    }
    .OurCheerfulUsersPhoto {
        margin: 37px 0 15px 137px;
    }
}
@media screen and (max-width: 768px) {
    .OurCheerfulUsersUl {
        display: grid;
        grid-template-columns: repeat(1 , 328px);
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;
    }
    /*toll tip text name*/
    .userName .tooltiptext {
        max-width: 250px;
    }
    /*toll tip text email*/
    .userEmail .tooltiptext {
        max-width: 250px;
    }
    .OurCheerfulUsersPhoto {
        margin: 36px 0 15px 129px;
    }
}
