
/*removing default styles*/
.navBarHeader a{
    padding: 10px 15px;
    text-decoration: none;
}
.navBarHeader a:link{
    color: black;
}
.navBarHeader a:visited{
    color: black;
}
.navBarHeader a:hover{
    background-color: rgba(0 , 189, 211, 0.1);
    color: #00BDD3;
}
.navBarHeader a:focus{
    color: #00BDD3;
}
.navBarHeader a:active {
    background-color: rgba(0 , 189, 211, 0.1);
    color: #00BDD3;
}
/*header styles*/

.headerFixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #FFFFFF;
}

.headerWrapper{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoWrapper{
    display: flex;
    align-items: center;
    z-index: 2;
}
.logoImitation {
    width: 38px;
    height: 26px;
    background-image: url("Group.png");
    margin: 17px 6px 17px 0;
}

.headerLogo {
    text-transform: uppercase;
    font-weight: 500;
}
.navBarHeader{
    display: flex;
}

@media screen and (max-width: 1280px) {
    .headerWrapper {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .navBarHeader {
        display: none;
    }
}




