
body {
    margin: 0 ;
    padding: 0;
}
body.lockScroll{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 ;
}
p{
    margin: 0;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent)
}

.headerContainer{
    background-image: url("../images/background-grirl-image.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 756px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.shortInfoTop {
    display: flex;
    padding: 5px 0;
}
.deliver{
    margin: 0 auto;
    padding-left: 105px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
}
.ourLocation{
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: black;
}
.ourLocation a {
    text-decoration: none;
}
.ourLocation a:hover{
    color: tomato;
}

.ourLocation p {
    margin-left: 6px;
}
.companyNameHeader{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    color: white;
    text-shadow: 5px 5px 9px #000000;
    transition: 1.2s ease;
    cursor: pointer;

}
.companyNameHeader:hover{
    transition: 1.2s ease;
    text-shadow: 50px 21px 1px tomato;
}
.inputHeaderSearch{

    width: 568px;
    padding: 16px 0 16px 16px;
    border: none;
    opacity: 24%;
    background-blend-mode: normal;
    border-radius: 3px;

}

.inputHeaderSearchIcon{
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    cursor: pointer;
}

.containerForInputSearch{
    position: relative;
    margin-left: 30px;
}

.signInAndRegistration {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 17px;
    color: white;
}
.signInText::after{
    content: '';
    padding-right: 10px;
    border-right: 2px solid white;

}
.signInText:hover{
    color: tomato;
    cursor: pointer;
    text-decoration: underline;
}
.registrationTopText{
    margin-left: 10px;
}
.registrationTopText:hover{
    color: tomato;
    cursor: pointer;
    text-decoration: underline;
}
.bagIcon{
    margin-left: 18px;
    font-size: 26px;
}

.wrapperForNameInputSignIn{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
    padding-top: 25px;
}
.navHeader{
    width: 640px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    align-items: start;
    margin: 0 auto 205px;


}
.navHeader a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    /*box-sizing: border-box;*/
}
.navHeader a:hover{
    color: tomato;
    border-bottom: 2px solid tomato;

}
.helloFraze{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: white;

}


/*.new:hover {*/
/*    transition: 0.5s ease;*/
/*    color: black;*/
/*    border-bottom: 3px solid black;*/
/*}*/


/*  MAIN  */

.mainWrapper{
    width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mainWrapper p {
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.inputEmailAndButtonRegister{
    display: flex;
    margin-bottom: 32px;
}
/*input for email*/

.inputMainSectionEmail{
    width: 334px;
    padding: 8px 0;
    border: 1px solid #E1E0E1;
    border-radius: 3px;

}
.inputMainSectionEmail::placeholder{
    padding-left: 5px;

}

/*button register*/

.inputEmailAndButtonRegister button{
    width: 94px;
    border: none;
    background-color: black;
    color: white;
    padding: 5px 20px;
    text-transform: uppercase;
    margin-left: 12px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.loggedText {
    margin-left: 10px;
    font-size: 16px;
    color: tomato;
}
/*FOOTER*/

footer{
    background-color: #F7F7F7;
}
.footerWrapper{
    padding: 25px 0 38px 0;
    margin: 0 auto;
    width: 890px;
    display: flex;
    justify-content: space-between;

}
.footerWrapper h3 {
    margin-bottom: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.footerWrapper p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 6px;
}
.footerWrapper p a {
    text-decoration: none;
    color: #000000;
}
.footerWrapper p a:hover{
    color: tomato;
    border-bottom: 2px solid tomato;
}
.socialFooter a {
    margin-right: 12px;
}
.socialFooter a i {
    color: black;

    cursor: pointer;
    padding: 2px;
}
.socialFooter i:hover {
    color: tomato;
}
.copyrightTextBottom{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    padding-bottom: 15px;
}


/*adaptive*/
.burgerMenuAndSearchIconForAdaptive{
    display: none;
}
.menuIcon{
    display: none;
}
.burgerMenuBody{
    display: none;
}
.arrowFooter{
    font-size: 0;
}

@media screen and  (max-width: 1024px) {
    .inputHeaderSearch{
        width: 350px;
    }
    .inputHeaderSearchIcon{
        color: black;
    }
    .footerWrapper{
        width: 768px;

    }
    .socialFooter a:last-child {
        margin-right: 0;
    }

}
@media screen and  (max-width: 767px) {
    .shortInfoTop{
        display: none;
    }

    /*burger*/

    .companyNameHeader{
       display: none;
    }
    .bagIcon{
        font-size: 0;
        visibility: hidden;
    }
    .companyNameHeaderInBurger{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 38px;
        line-height: 57px;
        color: white;
        text-shadow: 5px 5px 9px #000000;
        transition: 1.2s ease;
        cursor: pointer;

    }
    .burgerMenuAndSearchIconForAdaptive{
        width: 100%;
        display: flex;
    }
    .inputHeaderSearchIconForMedia{
        margin-left: 18px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    .bagIconForMedia{
        font-size: 30px;
        color: white;
    }
    .containerForIconsMedia{
        position: fixed;
        display: flex;
        margin-left: 50px;
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }
    .menuIcon{
        display: block;
        z-index: 5;
        position: fixed;
        width: 50px;
        height: 25px;
        cursor: pointer;
        top: 40px;
    }

    .menuIcon span,
    .menuIcon::before,
    .menuIcon::after {
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        background-color: white;
    }
    .menuIcon::before,
    .menuIcon::after{
        content: '';
    }
    .menuIcon::before{
        top: 0;
        left: 2%;
    }
    .menuIcon::after{
        bottom: 0;
        left: 2%;
    }
    .menuIcon span {
        top: 50%;
        left: 2%;
        transform: scale(1) translate(0, -50%);
    }
    .bagIcon{
        font-size: 35px;
        z-index: 2;

        right: 20px;
        top: 5%;
        margin-left: 0;
    }
    .burgerMenuBody{
        display: block;
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .burgerMenuBody.active{
        left: 0;
    }
    .burgerMenuBody::before{
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 80px;
        z-index: 2;
    }
    .burgerMenuList > li{
        margin: 0 0 30px 0;
    }
    .burgerMenuLink > li:last-child{
         margin-bottom: 100px;
    }
    .burgerMenuLink{
        font-size: 24px;
    }
    .burgerMenuList li {
        list-style: none;
    }
    .burgerMenuList li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    .burgerMenuList li a:hover{
        color: tomato;
    }
    /*burger*/


    .companyNameHeader:hover{
        text-shadow: 5px 5px 9px #000000;
        transition: 1.2s ease;
    }
    .signInText{
        display: none;
    }
    .registrationTopText{
        display: none;
    }
    .containerForInputSearch{
        display: none;
    }
    .helloFraze{
        display: none;
    }
    .navHeader a{
        display: none;
    }
    .footerWrapper {
        display: flex;
        flex-direction: column;
    }
   .headerContainer{
       overflow: hidden;
       background-position: 70% 50%;
   }
    .footerWrapper{
        width: 100%;
    }

    /*arrows realisation*/
    .containerForLinksAboutUs{
        display: none;
    }
    .containerForLinksAboutUs.active {
        display: block;
    }
    .containerForLinksCategories{
        display: none;
    }
    .containerForLinksCategories.active{
        display: block;
    }
    .containerForLinksHelp{
        display: none;
    }
    .containerForLinksHelp.active{
        display: block;
    }
    .containerForLinksPayments{
        display: none;
    }
    .containerForLinksPayments.active{
        display: block;
    }
    /*arrows realisation*/

    .aboutUsFooter{
        width: 65%;
        border-bottom: 1px solid #E1E0E1;
        margin: 0 auto;
        position: relative;
    }
    .aboutUsFooter h3 {
        margin-bottom: 12px;
    }

    .categoriesFooter {
        width: 65%;
        border-bottom: 1px solid #E1E0E1;
        margin: 0 auto;
        position: relative;
    }
    .categoriesFooter h3 {
        margin: 12px 0;
    }
    .helpFooter{
        width: 65%;
        position: relative;
        border-bottom: 1px solid #E1E0E1;
        margin: 0 auto;
    }
    .helpFooter h3{
        margin: 12px 0;
    }
    .paymentsFooter{
        width: 65%;
        position: relative;
        border-bottom: 1px solid #E1E0E1;
        margin: 0 auto;
    }
    .paymentsFooter h3{
        margin: 12px 0;
    }

    .socialFooter h3{
        display: none;
    }
    .socialFooter{
        padding-top: 25px;
        margin: 0 auto;
    }
    .arrowFooter{
         font-size: 16px;
         position: absolute;
         right: 1%;
         top: 20%;
     }
    .arrowFooter.active {
        top: 5%;
        transform: rotate(90deg);
    }
    .socialFooter a i {
        font-size: 25px;
    }
    .closeIconForBurger{
        color: white;
        font-size: 45px;
     }
}
@media screen and  (max-width: 480px) {
    .headerContainer{
        width: 100%;
        height: 756px;
        background-size: cover;
        margin-bottom: 30px;
    }
    .wrapperForNameInputSignIn{
        margin: 0 25px 0 25px;

    }
    .mainWrapper{
        width: 362px;
    }
    .inputMainSectionEmail{
        width: 80%;
    }
}
@media screen and  (max-width: 360px) {
    .mainWrapper{
        width: 100%;
    }
    .menuIcon{
        width: 33px;
        height: 18px;
        top: 44px;
    }
    .containerForIconsMedia{
        margin-left: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    .inputHeaderSearchIconForMedia{
        font-size: 22px;
        margin-left: 0;
    }
}