
.RegisterToGetAWorkWrapper{
    background-color: #E5E5E5;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden;
}
form h1 {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
}
.paragraphYourPersonalData{
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 28px;
}
/*inputs for basic info*/
.inputForInfo {
    width: 364px;
    padding: 14px 0 14px 16px;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid #D0CFCF;
    line-height: 26px;
    z-index: 2;
}
.inputForInfo:focus , .inputForInfo:active{
    outline: none;
    border: 1px solid #00BDD3;
    margin: -1px -1px 50px -1px;
}
.inputForInfo:valid {
    border-color: #00BDD3;
}
.inputForInfoLast:focus , .inputForInfoLast:active{
    outline: none;
    border: 1px solid #00BDD3;
    margin: -1px -1px 43px -1px;

}

.inputForInfoLast{
    margin-bottom: 43px;
}
.yourPositionAndUploadWrapper{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-bottom: 50px;
}
.positionName {
    padding-left: 12px;
}
/*radio buttons with positions */
.selectYourOption {
    margin-bottom: 11px;
}
.radioButtonWrapper{
    display: flex;
    margin-bottom: 13px;
}
.radioButtonWrapper:nth-last-child(2) {
    margin-bottom: 50px;
}

/*STYLING RADIO BUTTONS */
.customRadioButton {
    width: 20px;
    height: 20px;
    border: 1px solid #D0CFCF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkMark {
    width: calc(100% / 2);
    height: calc(100% / 2);
    border-radius: 50%;
    background: #00BDD3;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.customRadioButton input {
     display: none;
}
.yourPositionAndUploadWrapper{
    z-index: 2;
}

.radioButtonInput:checked + .checkMark {
    opacity: 1;
}
/*file upload*/

.uploadWrapper {
    display: flex;
}
.uploadWrapper label {
    border: 1px solid #D0CFCF;
    width: 300px;
    padding: 14px 0 14px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #7E7E7E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-file {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    padding: 14px 14px 14px 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*if name of uploaded file longer than width of element*/
.uploadWrapper .tooltiptextUpload {
    display: none;
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.uploadWrapper label:hover .tooltiptextUpload{
    display: block;
}
/*submit button*/
.submitButton {
    width: 148px;
    padding: 12px 0;
    background-color: #B4B4B4;
    color: #FFFFFF;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 180px;
    z-index: 2;
}
.catTrack {
    opacity: 0.1;
    position: absolute;
    display: inline;
    bottom: -165px;
    right: -20px;
    transform: rotate(32deg);
    z-index: 1;
}

@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
    .RegisterToGetAWorkWrapper form {

    }
    .RegisterToGetAWorkWrapper form h1 {
        width: 328px;
        text-align: center;
    }
    .RegisterToGetAWorkWrapper h2 {
        width: 328px;
        text-align: center;
    }
    .RegisterToGetAWorkWrapper input {
        width: 310px;
    }
    .yourPositionAndUploadWrapper {
        width: 328px;
    }
    .uploadWrapper label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 245px;
        padding: 14px 0 14px 16px;
    }
    .btn-file {
        padding: 14px 14px 14px 16px;
    }
    .catTrack {
        bottom: -190px;
    }
}
