
.watch-container{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
}
.project-name-text{
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
}