
.testAssignmentSection{
    width: 100%;
    background-image: url('images/TestAssignment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.testAssignmentContainer {
    width: 1170px;
    padding-top: calc(185px + 60px);
    /*padding: 185px 0 0 0;*/
    margin: 0 auto;
}
.testAssignmentWrapper{
    width: 530px;
}
.testAssignmentHeading{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 21px;
}
.testAssignmentText{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
.testAssignmentButtonSignUp{
    color: black;
    width: 148px;
    background-color: #F4E041;
    padding: 12px 0;
    border: none;
    border-radius: 80px;
    line-height: 26px;
    margin-bottom: 185px;
}
.testAssignmentButtonSignUp a {
    all: unset;
    cursor: pointer;
    border-radius: 80px;
    padding: 17px 50px;
}
.testAssignmentButtonSignUp:hover {
    background-color: teal;
}
@media screen and (max-width: 1280px) {
    .testAssignmentContainer {
        width: 90%;
    }
}
@media screen and (max-width: 1024px){
    .testAssignmentWrapper {
        width: 424px;
    }
    .testAssignmentSection {
        background-position: 50% 50%;
    }
    .testAssignmentButtonSignUp{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .testAssignmentWrapper {
        width: 240px;
    }
    .testAssignmentSection {
        background-position: 60% 50%;
    }
    .testAssignmentButtonSignUp{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 480px){
    .testAssignmentSection {
        background-position: 48% 100%;
        background-size: 240%;
        background-color: #EDECEA;
    }
}