



.timer-H2 {
    margin: 50px 0;
}
.timer-wrapper {
    display: flex;
    justify-content: center;
}
.timerItem {
    margin-right: 10px;
}
.main-root-wrapper {

    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    text-align: center;

}
.divForSearch {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
}

