input:hover {
    border-color: #34495e;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}
.container-for-numbers{
    display: flex;
    text-align: center;
    margin: 25px 0;
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 15px;
    color: #fff;
    background-color: darkgrey;
    background-image: none;
    cursor: pointer;
}


.select {
    position: relative;
    display: flex;
    width: 200px;
    margin: 0 auto;
    border-radius: .25em;
    overflow: hidden;
}


.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: #f39c12;
}
.calculate{
    background-color: #34495e;
    color: white;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10%;
    transition: 1s ease;
}
.calculate:hover{
    cursor: pointer;
    color: #34495e;
    background-color: white;
    border: 1px solid #34495e;
    transition: 1s ease;
}
.button-container-calculate{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.form h2 {
    text-align: center;
}
.form p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}