/*отдельный врапер что бы закрасить весь фон блока в цвет */
/*и сделать его при этом другой ширины*/
.LetsGetAcquaintedMainWrapper{
    padding: 175px 0;
    background-color: #F8F8F8;
}
.LetsGetAcquaintedSecondWrapper{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
/*блок вместо картинки */
.LetsGetAcquaintedImage{
    background-image: url("Image-387x340.png");
    width: 387px;
    height: 340px;
}
.LetsGetAcquaintedTextWrapper{
    width: 680px;
    text-align: right;
}
.LetsGetAcquaintedSecondWrapper h1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.LetsGetAcquaintedSecondWrapper h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
.LetsGetAcquaintedSecondWrapper p {
    line-height: 26px;
    margin-bottom: 32px;
}
.LetsGetAcquaintedTextWrapper button {
    color: black;
    width: 148px;
    background-color: #F4E041;
    padding: 12px 0;
    border: none;
    border-radius: 80px;
    line-height: 26px;
}
.LetsGetAcquaintedTextWrapper button a {
    all: unset;
    cursor: pointer;
    border-radius: 80px;
    padding: 17px 50px;
}
.LetsGetAcquaintedTextWrapper button:hover {
    background-color: teal;
}

@media screen and (max-width: 1280px) {
    .LetsGetAcquaintedSecondWrapper {
        width: 90%;
    }
    .LetsGetAcquaintedTextWrapper {
        width: 477px;
    }
    .LetsGetAcquaintedImage{
        background-size: 100%;
        width: 387px;
        height: 340px;
    }
}
@media screen and (max-width: 1024px) {
    .LetsGetAcquaintedTextWrapper {
        width: 368px;
    }
    .LetsGetAcquaintedImage{
        margin-top: 50px;
        background-size: 100%;
        width: 296px;
        height: 260px;
    }
}
@media screen and (max-width: 768px) {
    .LetsGetAcquaintedMainWrapper{
        padding: 145px 0;
    }
    .LetsGetAcquaintedSecondWrapper{
        display: flex;
        flex-direction: column;
    }
    .LetsGetAcquaintedImage{
        width: 328px;
        margin-bottom: 40px;
    }
    .LetsGetAcquaintedTextWrapper {
        width: 328px;
        text-align: left;
    }
    .LetsGetAcquaintedImage{
        background-size: 100%;
        width: 328px;
        height: 287px;
    }
}
